{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<div class="home-content">
    Hello!  My name is Jessica Beringer, aka Jessie Bee.  I’m a busy mom buzzing around taking care of my active toddler, maintaining a home, getting my degree in Web Design, running a business, blogging, staying active, creating art and living the greenest, healthiest way I can.  Wow! That’s a lot.  What am I thinking?  Anyways...Even though I keep a busy life, I like to keep things simple and balanced, if at all possible.  Except my art, that I like complex and very visually stimulating.  Once you get to know me, you’ll understand why my blog has my art works, recipes and family living all rolled into one unique blog.  So, in a nutshell, my blog is about my daily life with my crazy, active artist brain going at full speed.
</div>
<div class="home-content">
    You can read more about me on My Day to Day Adventures page, check out my art at Bee-ing Artsy, or try out a recipe from Healthy Recipes.
</div>
<div class="home-content">
    Send me a message with whatever is on your mind, whether it be a question, advice or anything else.  I would love to hear from you!
</div>
<div class="signature">Jessie Bee</div>

{% blocktrans %}
{% endblocktrans %}
{% endblock %}
