body {
    .jumbotron-default {
        background: url("../../images/mini-pumpkins.jpg");
        h1 {
            color: #fff;
        }
    }
    .breadcrumb {background: rgba(255, 255, 255, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; display: block;}
    .breadcrumb li {font-size: 16px;}
    .breadcrumb a {color: rgba(22, 158, 115, 0.54);}
    .breadcrumb a:hover {color: rgba(245, 91, 52, 0.74);}
    .breadcrumb>.active {color: rgba(153, 153, 153, 1);}
    .breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\203A\00a0";}
}